### Imports

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### store website in variable

In [ ]:
ua = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36 Edg/92.0.902.62"}

In [ ]:
web = 'https://www.coingecko.com/en'

In [ ]:
resp = requests.get(web)

In [ ]:
resp.status_code

200

In [ ]:
soup = BeautifulSoup(resp.content, 'html.parser')

In [ ]:
res = soup.find('table', {'class':'table-scrollable'}).find('tbody').find_all('tr')

In [ ]:
res[20]

In [ ]:
res[26].find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get("href").split('/')[-1]

'near'

In [ ]:
len(res)

100

In [ ]:
# first try works fine but issues with some currencies without using href

# name_currency = []


# for result in res:
    
#     # name
#     try:
#         name_currency.append(result.find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip().lower().replace(' ', '-'))
#     except:
#         name_currency.append('n/a')

In [ ]:
# second try with using href
name_currency = []


for result in res:
    
    # name
    try:
        name_currency.append(result.find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get("href").split('/')[-1])

    except:
        name_currency.append('n/a')

In [ ]:
name_currency

['bitcoin',
 'ethereum',
 'tether',
 'usd-coin',
 'bnb',
 'binance-usd',
 'xrp',
 'cardano',
 'solana',
 'dogecoin',
 'polkadot',
 'dai',
 'shiba-inu',
 'tron',
 'avalanche',
 'leo-token',
 'polygon',
 'wrapped-bitcoin',
 'lido-staked-ether',
 'litecoin',
 'ftx-token',
 'okb',
 'cronos',
 'chainlink',
 'uniswap',
 'stellar',
 'near',
 'cosmos-hub',
 'monero',
 'algorand',
 'chain',
 'bitcoin-cash',
 'ethereum-classic',
 'theta-fuel',
 'vechain',
 'flow',
 'internet-computer',
 'the-sandbox',
 'decentraland',
 'frax',
 'apecoin',
 'hedera',
 'tezos',
 'true-usd',
 'filecoin',
 'elrond',
 'theta-network',
 'quant',
 'axie-infinity',
 'aave',
 'helium',
 'bitcoin-sv',
 'eos',
 'compound-usd-coin',
 'kucoin-shares',
 'pax-dollar',
 'huobi-btc',
 'bittorrent',
 'maker',
 'neutrino-usd',
 'ecash',
 'iota',
 'usdd',
 'huobi-token',
 'the-graph',
 'compound-dai',
 'zcash',
 'klaytn',
 'tenset',
 'arweave',
 'radix',
 'thorchain',
 'fantom',
 'compound-ether',
 'neo',
 'pax-gold',
 'gatetoken',
 'basic-attention-token',
 'synthetix-network-token',
 'chiliz',
 'zilliqa',
 'defichain',
 'stepn',
 'bitdao',
 'stacks',
 'waves',
 'lido-dao',
 'loopring',
 'dash',
 'enjin-coin',
 'pancakeswap',
 'kusama',
 'tether-gold',
 'ecomi',
 'amp',
 'evmos',
 'curve-dao-token',
 'serum',
 'convex-finance',
 'terraclassicusd']

In [ ]:
print (name_currency[0])

Bitcoin

In [ ]:
website = 'https://www.coingecko.com/en/coins/bitcoin/historical_data?start_date=2022-01-01&end_date=2022-07-07#panel'

#### Get Request

In [ ]:
response = requests.get(website)

#### Status Code

In [ ]:
response.status_code

200

### Soup Object

In [ ]:
soup = BeautifulSoup(response.content, 'html.parser')

### Results

In [ ]:
results = soup.find('table', {'class':'table table-striped text-sm text-lg-normal'}).find('tbody').find_all('tr')

In [ ]:
len(results)

13

In [ ]:
results[0]

<tr>
<th class="font-semibold text-center" scope="row">2022-01-13</th>
<td class="text-center">
$10,569,377,177
</td>
<td class="text-center">
$263,336,901
</td>
<td class="text-center">
$1.001
</td>
<td class="text-center">
N/A
</td>
</tr>

### Target necessary data

In [ ]:
# Date
# Market Cap
# Volume
# Open
# Close

#### Name

In [ ]:
results[0].find('th', {'class':'font-semibold text-center'}).get_text().strip()

'2022-07-07'

#### Price

In [ ]:
results[0].find('td', {'class':'text-center'}).get_text().strip()

'$392,479,833,071'

#### 1h Change

In [ ]:
headings = []
for td in results[0].find_all("td"):
    # remove any newlines and extra spaces from left and right
    headings.append(td.text.replace('\n', ' ').strip())

print(headings[0])
print(headings[1])
print(headings[2])
print(headings[3])

$392,479,833,071
$21,755,499,642
$20,567
N/A

### Put everything together inside a For-Loop

In [ ]:
date = []
market_cap = []
volume = []
open = []
close = []

for result in results:
    
    # date
    try:
        date.append(result.find('th', {'class':'font-semibold text-center'}).get_text().strip()) 
    except:
        date.append('n/a')
    headings = []
    for td in result.find_all("td"):
        # remove any newlines and extra spaces from left and right
        headings.append(td.text.replace('\n', ' ').strip())

        #print(headings[0])
        #print(headings[1])
        #print(headings[2])
        #print(headings[3])
    #  market cap 
    try:
      market_cap.append(headings[0])
    except:
      market_cap.append('n/a')
    # volume
    try:
        volume.append(headings[1])
    except:
        volume.append('n/a')
    
    # open
    try:
        open.append(headings[2])
    except:
        open.append('n/a')
        
    # close
    try:
        close.append(headings[3])
    except:
        close.append('n/a')

### Create Pandas Dataframe

In [ ]:
# create dataframe
crypto = pd.DataFrame({'Coin': 'Bitcoin', 'Date':date, 'Market cap':market_cap,
                                'Volume': volume, 'Open': open, 'Close': close,})

In [ ]:
# output dataframe
crypto

### Output in Excel

In [ ]:
crypto.to_excel('coingecko.com_single.xlsx', index=False)

 ### From start of the year

In [ ]:
# empty list
name = []
date = []
market_cap = []
volume = []
open = []
close = []
for j in range(len(name_currency)):
  name1 = name_currency[j]
  print(name1)
  for i in range(1,5):
    # website
    website= f'https://www.coingecko.com/en/coins/{name1}/historical_data?end_date=2022-07-12&page={i}&start_date=2022-01-01'
    #print (website)
    # request to website
    response = requests.get(website)

    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')

    # results
    results = soup.find('table', {'class':'table table-striped text-sm text-lg-normal'}).find('tbody').find_all('tr') 

    for result in results:
      # name
      name.append(name1)
      # date
      try:
          date.append(result.find('th', {'class':'font-semibold text-center'}).get_text().strip()) 
      except:
          date.append('n/a')
      headings = []
      for td in result.find_all("td"):
          # remove any newlines and extra spaces from left and right
          headings.append(td.text.replace('\n', ' ').strip())

          #print(headings[0])
          #print(headings[1])
          #print(headings[2])
          #print(headings[3])
      #  market cap 
      try:
        market_cap.append(headings[0])
      except:
        market_cap.append('n/a')
      # volume
      try:
          volume.append(headings[1])
      except:
          volume.append('n/a')
      
      # open
      try:
          open.append(headings[2])
      except:
          open.append('n/a')
          
      # close
      try:
          close.append(headings[3])
      except:
          close.append('n/a')

bitcoin
ethereum
tether
usd-coin
bnb
binance-usd
xrp
cardano
solana
dogecoin
polkadot
dai
shiba-inu
tron
avalanche
leo-token
polygon
wrapped-bitcoin
lido-staked-ether
litecoin
ftx-token
okb
cronos
chainlink
uniswap
stellar
near
cosmos-hub
monero
algorand
chain
bitcoin-cash
ethereum-classic
theta-fuel
vechain
flow
internet-computer
the-sandbox
decentraland
frax
apecoin
hedera
tezos
true-usd
filecoin
elrond
theta-network
quant
axie-infinity
aave
helium
bitcoin-sv
eos
compound-usd-coin
kucoin-shares
pax-dollar
huobi-btc
bittorrent
maker
neutrino-usd
ecash
iota
usdd
huobi-token
the-graph
compound-dai
zcash
klaytn
tenset
arweave
radix
thorchain
fantom
compound-ether
neo
pax-gold
gatetoken
basic-attention-token
synthetix-network-token
chiliz
zilliqa
defichain
stepn
bitdao
stacks
waves
lido-dao
loopring
dash
enjin-coin
pancakeswap
kusama
tether-gold
ecomi
amp
evmos
curve-dao-token
serum
convex-finance
terraclassicusd

In [ ]:
# create dataframe
crypto = pd.DataFrame({'Coin': name, 'Date':date, 'Market cap':market_cap,
                                'Volume': volume, 'Open': open, 'Close': close,})

In [ ]:
# output dataframe
crypto

,Coin,Date,Market cap,Volume,Open,Close
0,bitcoin,2022-07-12,"$382,000,290,322","$21,319,467,249","$19,998.47",N/A
1,bitcoin,2022-07-11,"$398,249,545,889","$25,037,950,754","$20,860","$19,998.47"
2,bitcoin,2022-07-10,"$412,459,838,738","$26,211,587,452","$21,590","$20,860"
3,bitcoin,2022-07-09,"$417,690,286,505","$46,645,398,901","$21,859","$21,590"
4,bitcoin,2022-07-08,"$414,055,638,574","$21,927,087,503","$21,661","$21,859"
...,...,...,...,...,...,...
18822,terraclassicusd,2022-01-05,"$10,329,098,172","$223,862,226",$1.001,$1.003
18823,terraclassicusd,2022-01-04,"$10,257,790,611","$158,217,004",$1.002,$1.001
18824,terraclassicusd,2022-01-03,"$10,150,368,764","$105,447,012",$1.002,$1.002
18825,terraclassicusd,2022-01-02,"$10,163,834,119","$143,190,915",$1.006,$1.002
18826,terraclassicusd,2022-01-01,"$10,135,310,922","$169,797,655",$0.999271,$1.006

In [ ]:


#drop rows that contain N/A in the list
crypto = crypto[crypto.Close != 'N/A']
crypto

,Coin,Date,Market cap,Volume,Open,Close
1,bitcoin,2022-07-11,"$398,249,545,889","$25,037,950,754","$20,860","$19,998.47"
2,bitcoin,2022-07-10,"$412,459,838,738","$26,211,587,452","$21,590","$20,860"
3,bitcoin,2022-07-09,"$417,690,286,505","$46,645,398,901","$21,859","$21,590"
4,bitcoin,2022-07-08,"$414,055,638,574","$21,927,087,503","$21,661","$21,859"
5,bitcoin,2022-07-07,"$392,479,833,071","$21,755,499,642","$20,567","$21,661"
...,...,...,...,...,...,...
18822,terraclassicusd,2022-01-05,"$10,329,098,172","$223,862,226",$1.001,$1.003
18823,terraclassicusd,2022-01-04,"$10,257,790,611","$158,217,004",$1.002,$1.001
18824,terraclassicusd,2022-01-03,"$10,150,368,764","$105,447,012",$1.002,$1.002
18825,terraclassicusd,2022-01-02,"$10,163,834,119","$143,190,915",$1.006,$1.002
18826,terraclassicusd,2022-01-01,"$10,135,310,922","$169,797,655",$0.999271,$1.006

In [ ]:
crypto.to_excel('coingecko.com_100coins_historical_data.xlsx', index=False)