### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### store website in variable

In [2]:
ua = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36 Edg/92.0.902.62"}

In [3]:
website = 'https://www.coingecko.com/en/coins/bitcoin/historical_data?start_date=2022-01-01&end_date=2022-07-07#panel'

#### Get Request

In [4]:
response = requests.get(website)

#### Status Code

In [5]:
response.status_code

200

### Soup Object

In [6]:
soup = BeautifulSoup(response.content, 'html.parser')

### Results

In [8]:
results = soup.find('table', {'class':'table table-striped text-sm text-lg-normal'}).find('tbody').find_all('tr')

In [9]:
len(results)

60

In [10]:
results[0]

<tr>
<th class="font-semibold text-center" scope="row">2022-07-07</th>
<td class="text-center">
$392,479,833,071
</td>
<td class="text-center">
$21,755,499,642
</td>
<td class="text-center">
$20,567
</td>
<td class="text-center">
N/A
</td>
</tr>

### Target necessary data

In [11]:
# Date
# Market Cap
# Volume
# Open
# Close

#### Name

In [12]:
results[0].find('th', {'class':'font-semibold text-center'}).get_text().strip()

'2022-07-07'

#### Price

In [24]:
results[0].find('td', {'class':'text-center'}).get_text().strip()

'$392,479,833,071'

#### 1h Change

In [29]:
headings = []
for td in results[0].find_all("td"):
    # remove any newlines and extra spaces from left and right
    headings.append(td.text.replace('\n', ' ').strip())

print(headings[0])
print(headings[1])
print(headings[2])
print(headings[3])

$392,479,833,071
$21,755,499,642
$20,567
N/A

#### 24h Change

In [ ]:
results[0].find('td', {'class':'td-change24h'}).get_text().strip()

'1.3%'

#### 7 day change

In [ ]:
results[0].find('td', {'class':'td-change7d'}).get_text().strip()

'-4.7%'

#### 24h Volume

In [ ]:
results[2].find('td', {'class':'td-liquidity_score'}).get_text().strip()

'$53,602,942,487'

#### Market Cap

In [ ]:
results[0].find('td', {'class':'td-market_cap'}).get_text().strip()

'$376,957,052,654'

### Put everything together inside a For-Loop

In [31]:
date = []
market_cap = []
volume = []
open = []
close = []

for result in results:
    
    # date
    try:
        date.append(result.find('th', {'class':'font-semibold text-center'}).get_text().strip()) 
    except:
        date.append('n/a')
    headings = []
    for td in result.find_all("td"):
        # remove any newlines and extra spaces from left and right
        headings.append(td.text.replace('\n', ' ').strip())

        #print(headings[0])
        #print(headings[1])
        #print(headings[2])
        #print(headings[3])
    #  market cap 
    try:
      market_cap.append(headings[0])
    except:
      market_cap.append('n/a')
    # volume
    try:
        volume.append(headings[1])
    except:
        volume.append('n/a')
    
    # open
    try:
        open.append(headings[2])
    except:
        open.append('n/a')
        
    # close
    try:
        close.append(headings[3])
    except:
        close.append('n/a')

### Create Pandas Dataframe

In [32]:
# create dataframe
crypto = pd.DataFrame({'Coin': 'Bitcoin', 'Date':date, 'Market cap':market_cap,
                                'Volume': volume, 'Open': open, 'Close': close,})

In [33]:
# output dataframe
crypto

,Coin,Date,Market cap,Volume,Open,Close
0,Bitcoin,2022-07-07,"$392,479,833,071","$21,755,499,642","$20,567",N/A
1,Bitcoin,2022-07-06,"$385,301,783,066","$23,623,270,106","$20,189","$20,567"
2,Bitcoin,2022-07-05,"$386,425,176,263","$18,634,860,046","$20,257","$20,189"
3,Bitcoin,2022-07-04,"$368,549,364,135","$13,976,969,844","$19,310.23","$20,257"
4,Bitcoin,2022-07-03,"$367,706,689,138","$15,601,715,001","$19,268.23","$19,310.23"
5,Bitcoin,2022-07-02,"$370,916,529,919","$28,756,781,115","$19,407.45","$19,268.23"
6,Bitcoin,2022-07-01,"$365,984,224,323","$22,816,515,395","$19,608.40","$19,407.45"
7,Bitcoin,2022-06-30,"$384,067,866,466","$20,744,333,507","$20,109","$19,608.40"
8,Bitcoin,2022-06-29,"$386,606,940,573","$18,161,209,601","$20,283","$20,109"
9,Bitcoin,2022-06-28,"$395,914,576,106","$17,719,011,288","$20,751","$20,283"
10,Bitcoin,2022-06-27,"$401,645,800,330","$15,392,697,878","$21,053","$20,751"
11,Bitcoin,2022-06-26,"$410,110,791,491","$16,152,442,749","$21,526","$21,053"
12,Bitcoin,2022-06-25,"$407,086,114,490","$21,955,656,696","$21,263","$21,526"
13,Bitcoin,2022-06-24,"$402,495,826,231","$23,655,104,387","$21,100","$21,263"
14,Bitcoin,2022-06-23,"$381,616,262,301","$24,955,466,738","$19,983.57","$21,100"
15,Bitcoin,2022-06-22,"$395,059,669,321","$25,340,643,363","$20,701","$19,983.57"
16,Bitcoin,2022-06-21,"$392,793,374,516","$28,346,447,997","$20,637","$20,701"
17,Bitcoin,2022-06-20,"$390,555,374,757","$32,488,136,326","$20,516","$20,637"
18,Bitcoin,2022-06-19,"$362,303,884,192","$38,920,632,524","$19,047.42","$20,516"
19,Bitcoin,2022-06-18,"$391,441,740,414","$24,232,922,585","$20,473","$19,047.42"
20,Bitcoin,2022-06-17,"$389,181,727,346","$27,449,277,946","$20,409","$20,473"
21,Bitcoin,2022-06-16,"$429,887,916,885","$52,027,211,447","$22,529","$20,409"
22,Bitcoin,2022-06-15,"$423,044,474,597","$47,639,470,968","$22,245","$22,529"
23,Bitcoin,2022-06-14,"$429,492,202,561","$64,852,526,179","$22,526","$22,245"
24,Bitcoin,2022-06-13,"$514,202,090,511","$29,834,061,116","$26,767","$22,526"
25,Bitcoin,2022-06-12,"$540,789,214,974","$22,518,366,770","$28,374","$26,767"
26,Bitcoin,2022-06-11,"$554,622,874,799","$25,663,085,729","$29,101","$28,374"
27,Bitcoin,2022-06-10,"$573,819,802,895","$18,871,591,862","$30,101","$29,101"
28,Bitcoin,2022-06-09,"$576,238,781,341","$27,080,284,929","$30,229","$30,101"
29,Bitcoin,2022-06-08,"$597,205,650,753","$36,111,325,508","$31,265","$30,229"
30,Bitcoin,2022-06-07,"$597,966,736,177","$27,644,798,123","$31,373","$31,265"
31,Bitcoin,2022-06-06,"$570,209,935,092","$13,395,229,055","$29,918","$31,373"
32,Bitcoin,2022-06-05,"$568,340,135,127","$12,911,383,482","$29,872","$29,918"
33,Bitcoin,2022-06-04,"$566,275,595,800","$21,997,859,591","$29,714","$29,872"
34,Bitcoin,2022-06-03,"$580,863,150,152","$24,232,399,986","$30,481","$29,714"
35,Bitcoin,2022-06-02,"$569,001,624,438","$35,553,330,792","$29,833","$30,481"
36,Bitcoin,2022-06-01,"$607,393,396,319","$29,770,567,353","$31,866","$29,833"
37,Bitcoin,2022-05-31,"$604,926,607,441","$34,891,305,295","$31,741","$31,866"
38,Bitcoin,2022-05-30,"$561,771,345,709","$14,496,111,398","$29,493","$31,741"
39,Bitcoin,2022-05-29,"$554,938,694,217","$15,406,515,373","$29,088","$29,493"
40,Bitcoin,2022-05-28,"$545,752,899,522","$31,756,305,901","$28,647","$29,088"
41,Bitcoin,2022-05-27,"$559,066,076,344","$31,972,044,692","$29,347","$28,647"
42,Bitcoin,2022-05-26,"$563,577,022,958","$23,108,764,916","$29,585","$29,347"
43,Bitcoin,2022-05-25,"$564,885,248,022","$23,486,436,837","$29,655","$29,585"
44,Bitcoin,2022-05-24,"$555,459,414,424","$26,646,754,325","$29,163","$29,655"
45,Bitcoin,2022-05-23,"$578,090,387,085","$17,199,930,155","$30,351","$29,163"
46,Bitcoin,2022-05-22,"$561,696,351,559","$13,561,006,428","$29,492","$30,351"
47,Bitcoin,2022-05-21,"$557,201,657,281","$25,980,877,920","$29,257","$29,492"
48,Bitcoin,2022-05-20,"$578,678,245,848","$29,190,056,577","$30,382","$29,257"
49,Bitcoin,2022-05-19,"$547,927,169,401","$26,219,431,165","$28,772","$30,382"
50,Bitcoin,2022-05-18,"$581,272,773,176","$24,964,703,224","$30,502","$28,772"
51,Bitcoin,2022-05-17,"$569,801,943,005","$28,418,179,221","$29,924","$30,502"
52,Bitcoin,2022-05-16,"$596,346,266,889","$22,948,123,704","$31,319","$29,924"
53,Bitcoin,2022-05-15,"$573,777,699,744","$25,759,546,764","$30,189","$31,319"
54,Bitcoin,2022-05-14,"$558,053,182,541","$71,541,696,924","$29,311","$30,189"
55,Bitcoin,2022-05-13,"$555,266,177,877","$61,338,080,284","$29,126","$29,311"
56,Bitcoin,2022-05-12,"$549,294,001,873","$65,985,702,702","$28,913","$29,126"
57,Bitcoin,2022-05-11,"$590,644,412,747","$54,071,363,210","$31,027","$28,913"
58,Bitcoin,2022-05-10,"$576,197,842,488","$58,369,928,594","$30,270","$31,027"
59,Bitcoin,2022-05-09,"$648,514,321,642","$30,810,576,502","$34,070","$30,270"

### Output in Excel

In [ ]:
crypto.to_excel('coingecko.com_single.xlsx', index=False)

 ### From start of the year

In [41]:
# empty list
date = []
market_cap = []
volume = []
open = []
close = []

for i in range(1,5):
  # website
  website= f'https://www.coingecko.com/en/coins/bitcoin/historical_data?end_date=2022-07-12&page={i}&start_date=2022-01-01'
  
  # request to website
  response = requests.get(website)

  # soup object
  soup = BeautifulSoup(response.content, 'html.parser')

  # results
  results = soup.find('table', {'class':'table table-striped text-sm text-lg-normal'}).find('tbody').find_all('tr') 

  for result in results:
    
    # date
    try:
        date.append(result.find('th', {'class':'font-semibold text-center'}).get_text().strip()) 
    except:
        date.append('n/a')
    headings = []
    for td in result.find_all("td"):
        # remove any newlines and extra spaces from left and right
        headings.append(td.text.replace('\n', ' ').strip())

        #print(headings[0])
        #print(headings[1])
        #print(headings[2])
        #print(headings[3])
    #  market cap 
    try:
      market_cap.append(headings[0])
    except:
      market_cap.append('n/a')
    # volume
    try:
        volume.append(headings[1])
    except:
        volume.append('n/a')
    
    # open
    try:
        open.append(headings[2])
    except:
        open.append('n/a')
        
    # close
    try:
        close.append(headings[3])
    except:
        close.append('n/a')

In [43]:
# create dataframe
crypto = pd.DataFrame({'Coin': 'Bitcoin', 'Date':date, 'Market cap':market_cap,
                                'Volume': volume, 'Open': open, 'Close': close,})

In [44]:
# output dataframe
crypto

,Coin,Date,Market cap,Volume,Open,Close
0,Bitcoin,2022-07-12,"$382,000,290,322","$21,319,467,249","$19,998.47",N/A
1,Bitcoin,2022-07-11,"$398,249,545,889","$25,037,950,754","$20,860","$19,998.47"
2,Bitcoin,2022-07-10,"$412,459,838,738","$26,211,587,452","$21,590","$20,860"
3,Bitcoin,2022-07-09,"$417,690,286,505","$46,645,398,901","$21,859","$21,590"
4,Bitcoin,2022-07-08,"$414,055,638,574","$21,927,087,503","$21,661","$21,859"
...,...,...,...,...,...,...
188,Bitcoin,2022-01-05,"$876,242,689,666","$24,895,990,584","$45,938","$43,647"
189,Bitcoin,2022-01-04,"$880,330,191,985","$21,890,019,532","$46,531","$45,938"
190,Bitcoin,2022-01-03,"$897,536,090,321","$33,756,128,242","$47,387","$46,531"
191,Bitcoin,2022-01-02,"$904,551,946,917","$18,904,585,811","$47,816","$47,387"
192,Bitcoin,2022-01-01,"$876,192,941,903","$25,895,349,605","$46,320","$47,816"

In [45]:
crypto.to_excel('coingecko.com_bitcoin_historical.xlsx', index=False)